html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #002a5c;
}

h1, h2, h3 {
	margin-top: 0px;
}

p, ol, ul {
	margin-top: 0px;
}

p, ol {
	line-height: 180%;
}

strong {

}

a {
	color: #002a5c;
	text-decoration:none;
}

a:hover {
	text-decoration: underline;
}

Button:hover {
        cursor: pointer;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
}

.container {
	width: 960px;
	margin: 0px auto;
	padding: 0px 10px 0px 10px;
}

.container2 {
}

.clearfix {
	clear: both;
}

/** HEADER */

.header-bg {
	background: #FFF;
	height: 40px;
}

#header-wrapper { 
	position:relative; 
	display:block; 
	width:960px; 
	height:35px; 
	margin:0px auto;
	margin-top:10px; 
	text-align:left;
	
	
}

#header {
	overflow: hidden;
	background: none;
}

.homepage #header { /**ENTER IMAGES FOR 3D HERE*/
}

/** LOGO */

#logo {
	padding-top:10px;
	
}

/** ---------------------MENU-------------------- */

#menu {
	position:relative; 
	display:inline;
	padding:0;
	margin-left: 0px;
	font-size:18px;
}

#menu ul {
	margin: 25px 0px 0px -40px;
}
	
.shadow {
	background: #002a5c ;
	-khtml-border-radius:4px;
	-ms-border-radius:4px; 
	-o-border-radius:4px; 
	-moz-border-radius:4px; 
	-webkit-border-radius:4px; 
	border-radius:4px;
	-khtml-box-shadow:rgba(0,0,0,0.3) 0 3px 6px; 
	-ms-box-shadow:rgba(0,0,0,0.3) 0 3px 6px; 
	-o-box-shadow:rgba(0,0,0,0.3) 0 3px 6px; 
	-moz-box-shadow:rgba(0,0,0,0.3) 0 3px 6px; 
	-webkit-box-shadow:rgba(0,0,0,0.3) 0 3px 6px; 
	box-shadow:rgba(0,0,0,0.3) 0 3px 6px;
}

#menu li {
	display:inline;
	
}

#menu li.drop {
	display:block;
}

#menu a {
	margin:2px 0px 0px 0px;
	float:left;
	cursor:pointer;
}

#menu a.top {
	margin-left:57px;
	padding:5px;
	-khtml-text-shadow: rgba(0,0,0,0.3) 0 4px 6px #000; 
	-ms-text-shadow: rgba(0,0,0,0.3) 0 4px 6px #000; 
	-o-text-shadow: rgba(0,0,0,0.3) 0 4px 6px #000; 
	-moz-text-shadow: rgba(0,0,0,0.3) 0 4px 6px #000; 
	-webkit-text-shadow: rgba(0,0,0,0.3) 0 4px px #000; 
	text-shadow: rgba(0,0,0,0.3) 0 4px 6px #000;
}

#menu a.top:hover {
	background:#153c69;
	z-index:1050;
	-khtml-border-radius:4px;
	-ms-border-radius:4px; 
	-o-border-radius:4px; 
	-moz-border-radius:4px; 
	-webkit-border-radius:4px; 
	border-radius:4px;
	-khtml-text-shadow:none;
	-ms-text-shadow:none; 
	-o-text-shadow:none;
	-moz-text-shadow:none; 
	-webkit-text-shadow:none;
	text-shadow:none;
}


#menu span {
	color:#FFF;
	display: inline-block;
	max-height: 28px;
	padding: 0px 0px 0px 0px;
}

/** PAGE */

#page-wrapper {
	margin: 0px auto;
	width:1000px;
	overflow: hidden;
	background: ;
	padding: 0px 0px 10px 0px;
}

.homepage #page-wrapper {
	margin: 0px auto;
	width:1000px;
	background:;
}

#page {
	overflow: hidden;
}

.homepage #page {
}

#page-content {
	padding: 0px 0px 0px 0px;
}

/** CONTENT */

#content {
	margin: 0px auto;
	padding:100px 0px 10px 0px;
	width:960px;
	background: url(../images/homepage02-2-2.jpg) repeat-x left top;
	background-size:cover;
	margin-top: 11px;
	display:block;
	-khtml-box-shadow:rgba(0,0,0,0.3) 0 3px 6px #000; 
	-ms-box-shadow:rgba(0,0,0,0.3) 0 3px 6px #000; 
	-o-box-shadow:rgba(0,0,0,0.3) 0 3px 6px #000; 
	-moz-box-shadow:rgba(0,0,0,0.3) 0 3px 6px #000; 
	-webkit-box-shadow:rgba(0,0,0,0.3) 0 3px 6px #000; 
	box-shadow:rgba(0,0,0,0.3) 0 3px 6px #000;
}

/** SIDEBAR */

#sidebar {
	float: right;
	width: 288px;	
}

/** FOOTER CONTENT */

#footer-content {
	overflow: hidden;
	padding: 10px 0px;
	background: url(../images/homepage04.jpg) repeat-x left top;
	color: #002a5c;
}

#footer-content p {
}

#three-columns {
}

#three-columns h2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	letter-spacing: -1px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #002a5c;
}

#column1 {
	float: left;
	width: 288px;
	margin-right: 48px;
}

#column2 {
	float: left;
	width: 288px;
	margin-right: 48px;
}

#column3 {
	float: right;
	width: 288px;
}

/** FOOTER */

#footer {
	overflow: hidden;
	height: 83px;
	background: url(../images/homepage05-2.jpg) repeat-x left top;
}

#footer p {
	margin: 0px;
	padding: 3px 0px 0px 0px;
	text-align: center;
	color: #002a5c;
}

.footspace {
	padding: 0px 5px 0px 5px;
}

#footerlink {
	margin-top:3px;
}



#footerlink a {
	text-decoration:none;
	color: #002a5c;

}

#footerlink a:hover {
	text-decoration:underline;

}

/** BANNER */

#banner-wrapper {
	height: 305px;
	background: url(../images/homepage02.jpg) repeat-x left top;
	-khtml-box-shadow:rgba(0,0,0,0.3) 0 3px 6px; 
	-ms-box-shadow:rgba(0,0,0,0.3) 0 3px 6px; 
	-o-box-shadow:rgba(0,0,0,0.3) 0 3px 6px; 
	-moz-box-shadow:rgba(0,0,0,0.3) 0 3px 6px; 
	-webkit-box-shadow:rgba(0,0,0,0.3) 0 3px 6px; 
	box-shadow:rgba(0,0,0,0.3) 0 3px 6px;
}


#banner-wrappertop {
	height: 30px;
	background: url(../images/homepage02-2.jpg) repeat-x left top;
}

#banner {
	width: 960px;
	height: 211px;
	margin: 0px auto;
	padding: 84px 20px 0px 20px;
	background: url(../images/bg1_02.jpg) no-repeat left top;
}

#banner h2 {
	margin: 0px;
	padding: 0px 0px 12px 0px;
	letter-spacing: -2px;
	font-weight: bold;
	font-size: 30px;
	color: #FFFFFF;
}

#banner p {
	line-height: 160%;
	font-size: 16px;
	color: #ffffff;
}

/** LINK STYLE 1 */

.link-style1 a {
	display: block;
	width: 211px;
	height: 48px;
	margin: 12px 0px 0px -3px;
	padding: 10px 0px 0px 0px;
	letter-spacing: -1px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	background: url(../images/homepage10.html) no-repeat left top;
	color: #002a5c;
}

/** LINK STYLE 2 */

.link-style2 a {
	padding: 0px 0px 0px 20px;
	background: url(../images/homepage12.html) no-repeat left top;
}


/**Buttons*/

#Button {
	position:relative; 
	display:block;
	padding:0;
	margin: 5px 0px 0px -39px;
}

#Button ul {
	
	
}

#Button li {
	display:inline;
	
}

.mid {
	margin-left:52px;
}


#Button a {
	margin-top:5px;
	float:left;
	cursor:pointer;
	margin-bottom:10px;
}


#Button1 a {
	display: block;
	width: 150px;
	height: 100px;
	background: url('../images/button%20pictures/Dedicated-i.png') bottom;
	-khtml-border-radius:6px;
	-ms-border-radius:6px; 
	-o-border-radius:6px; 
	-moz-border-radius:6px; 
	-webkit-border-radius:6px; 
	border-radius:6px;
	-khtml-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	-ms-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	-o-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	-moz-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	-webkit-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	box-shadow:rgba(0,0,0,0.3) 0 2px 5px;
}

#Button1 a:hover {
	background-position: 0 0;
	-khtml-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	-ms-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	-o-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	-moz-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	-webkit-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	box-shadow:rgba(0,0,0,0.3) 0 2px 3px;
}

#Button2 a {
	display: block;
	width: 150px;
	height: 100px;
	background: url('../images/button%20pictures/Expedite-i.png') bottom;
	-khtml-border-radius:6px;
	-ms-border-radius:6px; 
	-o-border-radius:6px; 
	-moz-border-radius:6px; 
	-webkit-border-radius:6px; 
	border-radius:6px;
	-khtml-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	-ms-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	-o-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	-moz-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	-webkit-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	box-shadow:rgba(0,0,0,0.3) 0 2px 5px;
}

#Button2 a:hover {
	background-position: 0 0;
	-khtml-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	-ms-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	-o-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	-moz-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	-webkit-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	box-shadow:rgba(0,0,0,0.3) 0 2px 3px;
}

#Button3 a {
	display: block;
	width: 150px;
	height: 100px;
	background: url('../images/button%20pictures/Air-i.png') bottom;
	-khtml-border-radius:6px;
	-ms-border-radius:6px; 
	-o-border-radius:6px; 
	-moz-border-radius:6px; 
	-webkit-border-radius:6px; 
	border-radius:6px;
	-khtml-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	-ms-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	-o-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	-moz-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	-webkit-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	box-shadow:rgba(0,0,0,0.3) 0 2px 5px;
}

#Button3 a:hover {
	background-position: 0 0;
	-khtml-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	-ms-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	-o-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	-moz-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	-webkit-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	box-shadow:rgba(0,0,0,0.3) 0 2px 3px;
}

#Button4 a {
	display: block;
	width: 150px;
	height: 100px;
	background: url('../images/button%20pictures/Mexico-i.png') bottom;
	-khtml-border-radius:6px;
	-ms-border-radius:6px; 
	-o-border-radius:6px; 
	-moz-border-radius:6px; 
	-webkit-border-radius:6px; 
	border-radius:6px;
	-khtml-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	-ms-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	-o-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	-moz-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	-webkit-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	box-shadow:rgba(0,0,0,0.3) 0 2px 5px;
}

#Button4 a:hover {
	background-position: 0 0;
	-khtml-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	-ms-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	-o-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	-moz-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	-webkit-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	box-shadow:rgba(0,0,0,0.3) 0 2px 3px;
}

#Button5 a {
	display: block;
	width: 150px;
	height: 100px;
	background: url('../images/button%20pictures/Logistics-i.png') bottom;
	-khtml-border-radius:6px;
	-ms-border-radius:6px; 
	-o-border-radius:6px; 
	-moz-border-radius:6px; 
	-webkit-border-radius:6px; 
	border-radius:6px;
	-khtml-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	-ms-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	-o-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	-moz-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	-webkit-box-shadow:rgba(0,0,0,0.3) 0 2px 5px; 
	box-shadow:rgba(0,0,0,0.3) 0 2px 5px;
}

#Button5 a:hover {
	background-position: 0 0;
	-khtml-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	-ms-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	-o-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	-moz-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	-webkit-box-shadow:rgba(0,0,0,0.3) 0 2px 3px; 
	box-shadow:rgba(0,0,0,0.3) 0 2px 3px;
}


/** BOX 1 */

#box1 {
	float: left;
	width: 300px;
	margin-right: 48px;
}

/** BOX 2 */

#box2 {
	float: left;
	width: 300px;
	margin-right: 48px;
}

/** BOX 3 */

#box3 {
	float: right;
	width: 288px;
}

/** BOX 4 */

#box4 {
}

/** BOX 5 */

#box5 {
	padding-bottom: 20px;
}

/** BOX 6 */

#box6 {
	padding-bottom: 30px;
}

/** BOX 7 */

#box7 {
}


/** BOX STYLE 1 */

.box-style1 {
}

.box-style1 .title {
	margin: 0px;
	padding: 0px 0px 25px 0px;
	letter-spacing: -2px;
	font-size: 24px;
	font-weight: bold;
	color: #002a5c;
}

.box-style1 h3 {
	margin: 0px;
	padding: 20px 0px 20px 0px;
	letter-spacing: -1px;
	font-size: 19px;
	font-weight: bold;
	color: #002a5c;
}


/** BOX STYLE 2 */

.box-style2 {
}

.box-style2 .title {
	width: 916px;
	height: 37px;
	margin: 0px;
	padding: 13px 22px 30px 22px;
	background: url(../images/homepage13.jpg) no-repeat left top;
	letter-spacing: -1px;
	font-weight: bold;
	font-size: 21px;
	color: #002a5c;
}

/** IMAGE BORDER STYLE 1 */

.image-style1 {
	position: relative;
	width: 288px;
	height: 120px;
	margin-bottom: 30px;
}

.image-style1 span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.image-style1 img {
	position: absolute;
	top: 0px;
	left: 0px;
}

.image-style1a span {
	background: url(../images/pics01.png) no-repeat left top;
}

/** IMAGE BORDER STYLE 2 */

.image-style2 {
	position: relative;
	float: left;
	width: 165px;
	height: 88px;
	margin-top: 5px;
	margin-right: 30px;
}

.image-style2 span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.image-style2 img {
	position: absolute;
	top: 0px;
	left: 0px;
}

.image-style2a span {
	background: url(../images/pics02.png) no-repeat left top;
}

/** IMAGE BORDER STYLE 3 */

.image-style3 {
	position: relative;
	float: left;
	width: 165px;
	height: 110px;
	margin-top: 5px;
	margin-right: 30px;
}

.image-style3 span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.image-style3 img {
	position: absolute;
	top: 0px;
	left: 0px;
}

.image-style3a span {
	background: url(../images/pics03.png) no-repeat left top;
}


/** LIST STYLE 1 */

ul.style1 {
	margin: 0px;
	padding: 0px 0px 10px 0px;
	list-style: none;
}

ul.style1 li {
	padding: 0px 0px 10px 20px;
	background: url(../images/homepage13.jpg) no-repeat left 4px;
}

ul.style1 a {
	text-decoration: none;
	color: #002a5c;
}

ul.style1 a:hover {
	text-decoration: underline;
}

/** LIST STYLE 2 */

ul.style2 {
	margin: 0px;
	padding: 0px;
	line-height: 190%;
	list-style: none;
}

ul.style2 li {
	padding-bottom: 10px;
}

ul.style2 span {
	display: inline-block;
	width: 60px;
	color: #002a5c;
}

/** LIST STYLE 23 */

ul.style3 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style3 li {
	padding-bottom: 10px;
}

/** CUSTOMER LOGIN */

#foobar {
}

#login {
	margin: 0px;
	padding: 0px;
}

#login form {
	margin: 0px;
	padding: 0px;
}

#login fieldset {
	margin: 0px;
	padding: 0px;
	border: none;
}

#login input {
}

#login input.blank {
	color: #002a5c;
}

#login .email {
	display: block;
	float: left;
	width: 180px;
	height: 31px;
	padding: 0px 15px 0px 12px;
	outline: none;
	background: url(../images/homepage14.html) no-repeat left top;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #002a5c;
}

#login .submit {
	float: right;
	width: 73px;
	height: 31px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	border: none;
	background: url(../images/homepage15.html) no-repeat left top;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #002a5c;
}


/** ------------------------drop down----------------- */

#drop {
            color: #fff;
            text-decoration: none;
        }

#drop ul {
			position:absolute;
            display: none;
			padding-bottom:7px;
			overflow:hidden;
        }

#drop ul li a {
	padding: 5px 15px 5px  15px;
	text-decoration: none;
	margin-top:2px;
	margin-bottom:2px;
	margin-left:-40px;
	color: #FFF;
	text-align:left;
	min-width:150px;
}


#drop:hover {
            border: none;
        }

#drop:hover ul {
			background: #153c69;
	-khtml-border-radius:4px;
	-ms-border-radius:4px; 
	-o-border-radius:4px; 
	-moz-border-radius:4px; 
	-webkit-border-radius:4px; 
	border-radius:4px;
	-khtml-box-shadow:rgba(0,0,0,0.3) 0 5px 6px; 
	-ms-box-shadow:rgba(0,0,0,0.3) 0 5px 6px; 
	-o-box-shadow:rgba(0,0,0,0.3) 0 5px 6px; 
	-moz-box-shadow:rgba(0,0,0,0.3) 0 5px 6px; 
	-webkit-box-shadow:rgba(0,0,0,0.3) 0 5px 6px; 
	box-shadow:rgba(0,0,0,0.3) 0 5px 6px;
            display: block;
            margin: 0;
			z-index:1000;
			margin-left:-5px;
        }
		
#drop a.dropshadow {
	-khtml-text-shadow: rgba(0,0,0,0.3) 0 4px 6px #000; 
	-ms-text-shadow: rgba(0,0,0,0.3) 0 4px 6px #000; 
	-o-text-shadow: rgba(0,0,0,0.3) 0 4px 6px #000; 
	-moz-text-shadow: rgba(0,0,0,0.3) 0 4px 6px #000; 
	-webkit-text-shadow: rgba(0,0,0,0.3) 0 4px px #000; 
	text-shadow: rgba(0,0,0,0.3) 0 4px 6px #000;
}
	
#drop a.dropshadow:hover {
	background:#002a5c;	
	width:150%;
	-khtml-text-shadow: rgba(0,0,0,0.3) 0 4px 6px #000; 
	-ms-text-shadow: rgba(0,0,0,0.3) 0 4px 6px #000; 
	-o-text-shadow: rgba(0,0,0,0.3) 0 4px 6px #000; 
	-moz-text-shadow: rgba(0,0,0,0.3) 0 4px 6px #000; 
	-webkit-text-shadow: rgba(0,0,0,0.3) 0 4px px #000; 
	text-shadow: rgba(0,0,0,0.3) 0 4px 6px #000;
}
		
	/**--------------------------------popup-------------------------*/
		
#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}

#popUpDiv {
	position:absolute;
	margin-top:-200px;
	padding-top:100px;
	margin-left:-100px;
	background:;
	width:600px;
	height:366px;
	z-index: 9002;
}

#popUpDiv a {
	position:relative; top:0px; left:0px;
}

#blanket2 {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}

#popUpDiv2 {
	position:absolute;
	margin-top:-200px;
	margin-left:-100px;
	background:;
	width:600px;
	height:366px;
	z-index: 9002;
	color:#FFFFFF;
}

#popUpDiv2 a {
	position:relative; top:0px; left:0px;
}

#blanket3 {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}

#popUpDiv3 {
	position:absolute;
	margin-top:-200px;
	padding-top:100px;
	margin-left:-265px;
	background:;
	width:930px;
	height:500px;
	z-index: 9002;
}

#popUpDiv3 a {
	position:relative; top:0px; left:0px;
}

#blanket4 {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}

#popUpDiv4 {
	position:absolute;
	margin-top:-200px;
	padding-top:100px;
	margin-left:-265px;
	background:;
	width:930px;
	height:500px;
	z-index: 9002;
	color:#FFFFFF;
}

#popUpDiv4 a {
	position:relative; top:0px; left:0px;
}

.pageshadow {
	
	color: #eee;
	padding: 15px;
	margin-top: 10px;
	margin-bottom:15px;
	background: url(../images/Content.jpg) repeat-x;
	background-size:cover;
	-khtml-border-radius:4px;
	-ms-border-radius:4px; 
	-o-border-radius:4px; 
	-moz-border-radius:4px; 
	-webkit-border-radius:4px; 
	border-radius:4px;
	-khtml-box-shadow: rgba(0,0,0,0.3) 0 4px 6px; 
	-ms-box-shadow: rgba(0,0,0,0.3) 0 4px 6px; 
	-o-box-shadow: rgba(0,0,0,0.3) 0 4px 6px; 
	-moz-box-shadow: rgba(0,0,0,0.3) 0 4px 6px; 
	-webkit-box-shadow: rgba(0,0,0,0.3) 0 4px 6px; 
	box-shadow: rgba(0,0,0,0.3) 0 4px 6px;
}

#right {
	margin-left:6px;
}

.pageshadow a {
	color:#d4d4d4;
}

#pageshadow {
	text-align:center;
	-khtml-text-shadow: rgba(0,0,0,0.3) 0 4px 6px #000;
	-ms-text-shadow: rgba(0,0,0,0.3) 0 4px 6px #000;
	-o-text-shadow: rgba(0,0,0,0.3) 0 4px 6px #000;
	-moz-text-shadow: rgba(0,0,0,0.3) 0 4px 6px #000;
	-webkit-text-shadow: rgba(0,0,0,0.3) 0 4px px #000;
	text-shadow: rgba(0,0,0,0.3) 0 4px 6px #000;
	color: #eee;
	font-size: 18px;
}

#pageshadow2 {
	-khtml-text-shadow: rgba(0,0,0,0.3) 0 3px 5px #000; 
	-ms-text-shadow: rgba(0,0,0,0.3) 0 3px 5px #000; 
	-o-text-shadow: rgba(0,0,0,0.3) 0 3px 5px #000; 
	-moz-text-shadow: rgba(0,0,0,0.3) 0 3px 5px #000; 
	-webkit-text-shadow: rgba(0,0,0,0.3) 0 3px 5px #000; 
	text-shadow: rgba(0,0,0,0.3) 0 3px 5px #000;
}

.content {
	padding-bottom:30px;
	min-height:180px;
}

	/*Slideshow2*/
	
	
.clear {
	clear:both;
}

#slider {
    width: 960px;
    height: 335px;
    position: relative;
	overflow: hidden;
	margin: 0px auto;
}


#gallery {
	position:absolute;
	height:305px;
	width:960px;
	margin:0px;
}

	#gallery a {
		float:left;
		position:absolute;
	}
	
	#gallery a img {
		border:none;
	}
	
	#gallery a.show {
		z-index:500;
		margin-left:320;
	}

	#gallery .caption {
		z-index:600; 
		background-color:#000; 
		color:#ffffff; 
		height:305px; 
		position:absolute;
		bottom:0;
	}

	#gallery .caption .content {
		margin:0px;
		padding:10px;
		color:#FFF;
		font-size:16px;
	}
	
	
	#gallery .caption .content p {
		margin:5px;
		color:#FFF;
		font-size:16px;
	}
	
	#gallery .caption .content h3 {
		margin:0px;
		padding:5px;
		color:#FFF;
		font-size:20px;
	}
	
	
			/*------------hover bottom----------------*/

#hovb {
	margin-top:50px;
}

#hovb {
        }

#hovb ul {
			position:absolute;
                    display: none;
			padding-bottom:7px;
			padding-top:6px;
			overflow:hidden;
	          padding-right:30px;
        }

#hovb ul a img {
	margin-right:15px;
	text-decoration: none;
	margin-top:-5px;
	margin-bottom:2px;
	color: #FFF;
	text-align:left;
}


#hovb:hover {
            border: none;
        }

#hovb:hover ul {
			background: #fff;
	-khtml-border-radius:4px;
	-ms-border-radius:4px; 
	-o-border-radius:4px; 
	-moz-border-radius:4px; 
	-webkit-border-radius:4px; 
	border-radius:4px;
	-khtml-box-shadow:rgba(0,0,0,0.3) 0 5px 6px; 
	-ms-box-shadow:rgba(0,0,0,0.3) 0 5px 6px; 
	-o-box-shadow:rgba(0,0,0,0.3) 0 5px 6px; 
	-moz-box-shadow:rgba(0,0,0,0.3) 0 5px 6px; 
	-webkit-box-shadow:rgba(0,0,0,0.3) 0 5px 6px; 
	box-shadow:rgba(0,0,0,0.3) 0 5px 6px;
            display: block;
            margin: 0;
			z-index:1000;
			margin-left:-5px;
        }

#footspace a {
        margin: 0px 5px 0px 5px;
}